.myntra-logo {
    display: flex;
    margin-left: 2%;
    align-items: center;

}

.logo {
    width: 53px;
    height:36px;
}

.desktop-container {
    display: flex;
    /* justify-content: flex-start; */
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
    height: 75px;
    justify-content: space-around;

}

.desktop-navbar {
    display: flex;
    font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    align-items: center;
    
    color: #282c3f;
    font-weight: 500;

    gap: 30px;
    padding-left: 5px;
    width: auto;
    margin: 0;
    
}

a {
    text-decoration: none;
    color: black;
}

.actions {
    display:flex;
    margin-left: auto;
    justify-content: flex-end;
    margin: 20px 10px 20px 10px;
    align-items: center;
}

.desktop-query {
    display: flex;
    align-items: center;
    color: #696e79;
    border-radius: 3px;
    justify-content: flex-start;
    margin-left:20px;
    width: 30%;
    padding:20px 20px 20px;
    height: 34px;


}
.desktop-query span{
padding: 6px;
}

.searchbox {
    width: 100%;
    border: none;
    box-sizing: content-box;
    gap: 8px;
    align-items: center;
}

.inputsearch {
    box-sizing: content-box;
    width: 100%;
    justify-content: flex-start;
    border: none;
    
    
}

.desktop-query > * {
    
    color: #696e79;
    background: #f5f5f6;
    border-radius: 3px;
    /*float: right;*/
    padding: 10px;

}

.actions > * {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 15px;
}

.banner {
    position: relative ;
    width: 100%;
    height: auto;
    margin: 40px 0px 15px 0px;
    float: right;
    
}
.banner-offer {
        background: rgb(8, 51, 25);
          position: absolute;
          border-radius: 3px;
          color: rgb(181, 166, 166)
          
}
.down-content {
    width: 100%;
    height: auto;
   
    position: relative;

}
.desktop-navlink {
    position: relative;
    display: inline-block;
}
.desktop-navlink-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: 14px;
    align-content:left;
    font-weight: 500;
  }
p:hover{
    color: black;
    font-weight: 700;
  }
    
    

.desktop-navlink:hover .desktop-navlink-content{
    display: block;
    border-radius: 3px;
    background-color: rgb(236, 235, 235);
    
}
.deal-of-the-day {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}
    

  